body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

.app {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: red;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

h1 {
  color: #333;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 10px;
  margin-top: 20px;
}

.number {
  padding: 10px;
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.number:hover {
  background-color: #ddd;
}

.number.selected {
  background-color: #a8a492; /* Cor para número selecionado */
  color: black;
}

.number.confirmed {
  background-color: rgb(27, 154, 27); /* Cor para número confirmado */
  color: white;
  cursor: not-allowed;
}

.form {
  margin-top: 20px;
}

input[type="text"] {
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: rgb(27, 154, 27);
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #63a39b;
}

.notification {
  margin-top: 20px;
  color: #333;
  font-size: 14px;
}
